@model GoalIndexViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="form-group" style="display: block; text-align: center;">
    <h4>Savings Amount</h4>
    <p>Enter the amount you've saved and press "Update"</p>
    <div class="input-group mb-3" style="width: 250px; margin: 0 auto;">
        <input type="text" class="form-control" id="amount-saved" >
        &nbsp;
        <button class="btn btn-primary" id="update-amount">Update Amount</button>
    </div>
</div>
<hr>
<div id="goals-section">
    <p>
    <a asp-action="Create">Add a Goal!</a>
</p>
    @{

        var savingsToDistribute = Model.UserTotalSavings;

        var totalSavingsRequired = 0.0;

        foreach (var goal in Model.Goals)
        {
            totalSavingsRequired += goal.Amount;
            var amountSaved = 0.0;
            if (goal.Amount < savingsToDistribute)
            {
                amountSaved = goal.Amount;
                savingsToDistribute -= amountSaved;
            }
            else
            {
                amountSaved = savingsToDistribute;
                savingsToDistribute = 0;
            }
            var percentSaved = amountSaved / goal.Amount;
            var barWidth = percentSaved * 100;
            if (barWidth == 0)
            {
                barWidth = 1;
            }
            string barStyle = "bg-danger";

            if (barWidth > 24)
            {
                barStyle = "bg-warning";
            }
            if (barWidth > 74)
            {
                barStyle = "bg-success";
            }

            <div class="goal-container">
                <div class="goal-container-info">
                    <h5 class="goal-title">@Html.DisplayFor(modelItem => goal.Name)</h5>
                    <p class="goal-amount-paid"><strong>$@amountSaved of $@Html.DisplayFor(modelItem => goal.Amount)</strong></p>
                </div>
                <br>
                <br>
                <div class="goal-container-progress">
                    <div class="progress">
                        <div class="progress-bar @barStyle" role="progressbar" style="width: @barWidth%" aria-valuenow="@barWidth"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>

                    <a asp-action="Edit" asp-route-id="@goal.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@goal.Id">Delete</a>
                </div>
            </div>
            <br />
        }
        <div id="savings-amount"><h3>
    Total Saved: $@Model.UserTotalSavings of $@totalSavingsRequired
</h3></div>
    }
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

